{{svg-jar "tick-round" class="tick-round"}}
   Do you wish to remove this employee
    from freshteam
    
   
  <span class="del-buttons">
    <span class="stop" {{action 'stopDel'}}>Cancel</span>
   <button {{action 'deleteUser' user.id}} class="confirm">Save</button> 
  </span>