{{#if img}}

  <span class="img-div">
    <img src="{{img}}" />
  </span>
{{else}}

  <span class="img-div">
    <p class="card-text">
        {{this.firstChar}}
    </p>
    
  </span>

{{/if}}









