<BsDropdown as |dd|>
  <dd.toggle>{{selectedTeam}}<span class="caret">
     
  </span></dd.toggle>
  <dd.menu as |ddm|>
      {{#each this.teams as |team|}}

           <option {{action "selectTeam" team}}>{{team}}</option>
      {{/each}}
   

  </dd.menu>
</BsDropdown>



<div class="card-container">

      {{#each this.filteredUsers as |user|}}

      {{#user-card user=user}}{{/user-card}}

      {{/each}}

</div>
