
@import "ember-bootstrap/bootstrap";


body {
  min-height: 100vh;
  position: relative;
  
  background: #E5E5E5;
}


@import '/Users/sswarnakar/Documents/GitHub/freshteam/app/layouts/leftnav.scss';
@import '/Users/sswarnakar/Documents/GitHub/freshteam/app/layouts/header.scss';
@import "/Users/sswarnakar/Documents/GitHub/freshteam/app/layouts/footer.scss";















