@import "app/abstracts/variables.scss";

.content{

    margin-top: 108px;
    margin-left: 60px;
    padding: 9px;
    border: 1px solid red;
}

.card-container{
    display: grid;
    grid-gap: 9px;
    grid-template-columns: repeat(auto-fit, minmax(300px, auto));
   
}

.card{

    background: $footerBg; 
    padding: 50px 20px;
    border-radius: 2px;
    text-align: center;
}

.card-text{
    font-weight: 400;
font-size: 44px;

color: $footerBg;
}

.circle-div{
    
   margin-left: 50px;
    width: 82px;
    height: 82px;
    margin-bottom: 20px;
    border-radius: 50%;
  
}

.avatar{
width: 100%;
height: 100%;
border-radius: 50%
}








