.footer {

    width: 100%;
    height: 28px;
    background: #FFFFFF; 
    position: absolute;
    bottom: 0;
    border: 1px solid #CFD7DF;
    
  }
  
  .footer-content{
    font-size: 12px;
    margin: 5px 0 7px 800px;
  color: #607787;
  }
  