@import "../abstracts/variables.scss";
.footer {

    left: $sideNavWidth;
    height: 28px;
    background: #FFFFFF; 
    position: absolute;
    bottom: 0;
    right: 0;
    border: 1px solid #CFD7DF;
    
  }
  
  .footer-content{
    font-size: 12px;
   text-align: center;
   margin-top: 5px;
  color: #607787;
  }
  