$sideNavWidth: 60px;

$bodyBackground: #e5e5e5;

$headerBackground: #ffffff;

$headerBoxShadow: #ebeef0;

$headerTitle: #41637c;

$headerTitleHover: violet;

$leftNavBg: #12344d;

$iconBoxShadow1: #41637c;

$iconBoxShadow2: #27303e;

$iconLogoHover: #7052CC;

$empLogoHover: #7052cc;

$secHeaderUsers: #f5f7f9;

$footerBg: #ffffff;

$footerBorder: #cfd7df;

$footerTextColor: #607787;

$filterText: #12344d;

$browseText: #7b8e9f;

$dropdownMenuShadow: rgba(24, 50, 71, 0.2);

$dropdownMenuHoverBg: #ebeff3;
$filterSelectedBg: #E5F6FF;
$searchBorder: #DADEE4;
$searchColor: #000000;
