<div class="sec-header">
    <p class="emp-title">Employees</p>
  </div>

  <div class="card-container">

     <div class="card">
      
        <p class="card-name">
         {{#each model as |user|}}

<div>
{{#user-avatar name = user.first_name img=user.img_url}} {{/user-avatar}}
</div>
           
            <p>{{user.first_name}} {{user.last_name}}</p>
             <p>{{user.email}}

             </p>
         {{/each}}
        </p>

     </div>  
    
  </div>